* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.main {
    min-height: 100vh;
    padding: 24px 0;
}

@media only screen and (min-width: 768px) {
    .main {
        padding: 50px 24px 50px 50px;
    }
}

@media only screen and (min-width: 1300px) {
    .main {
        padding: 50px;
    }
}
